body {
  margin: 10%;
}

#board {
  text-align: center;
}

.card {
  background: gray;
  width: 50; 
  height: 50;
}

#reset {
  color: gray;
  text-align: right;
  font-weight: bold;
  font-family: helvetica;
  font-style: italic;
}