/* apply a natural box layout model to all elements */
/**, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
*/
body {
  margin: 10%;
}

#board {
  width: 350px;

}

.card {
  background: gray;
  border: 2px solid white;
  float: left;
}

#reset {
  color: gray;
  font-family: helvetica;
  font-style: italic;
  font-size: small;
  display: inline-block;
  
}

#reset:hover {
  color: black;
}

#options {
  color: gray;
  font-size: small;
  font-family: helvetica;
  position: absolute;
  right: 100px;
  display: inline-block;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

#pickNumber {
  width: 50px;
}

#btn {
  background: white;
  border: 1px solid gray;
  color: gray;
}

#btn:hover {
  background: gray;
  color: black;
}
