/* apply a natural box layout model to all elements */
/**, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
*/
body {
  margin: 10%;
}

#board {
  /*text-align: center;*/
  width: 350px;
  
}

.card {
  background: gray;
  border: 2px solid white;
 /* border-left: 2px solid red;
  border-right: 2px solid blue;
  border-top: 2px solid red;
  border-bottom: 2px solid blue;*/
  float: left;

}

#reset {
  color: gray;
  text-align: right;
  font-weight: bold;
  font-family: helvetica;
  font-style: italic;
}